<!DOCTYPE html>
<html>
  <head>
    <title>Pumped :: <%= title %></title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">
    <link href="/css/selectBoxIt.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui-1.10.2.custom.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/selectBoxIt.js"></script>
    <script src="/js/pumped.js"></script>
  </head>
  <body>
  <div id="wrap">
    <% include ../snippets/header %>
    <div class="container" id="main-container">
    <% include ../snippets/message_center %>
    <%- body -%>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
      <div class="container">
        <p class="muted credit">&copy; 2013 Pumped</p>
      </div>
    </div>
<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
</body>
</html>