<% layout('./layouts/default') %>
<div class="container">
  <h1>About Pumped</h1>
  <div class="row main-features">
    <div class="span4">
      <div class="well">
        <h3 class="pull-left">Get</h3><img class="pull-left" style="height: 50px; width: 171px;" src="/img/logo_trans.png"/>
        <p style="clear: both;">Create or join a team, cycle, row, spin, jog, skate or swim in a 9,000 mile team relay race against other teams.</p>
        <a class="btn btn-info" href="javascript: openRegisterForm();"><span class="btn-label">Sign up now</span></a> 
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3>Track Your Progress</h3>
        <p>Log all your miles on the site as you train, commute and play. Race other teams as your miles increase across the map to Ho Chi Minh</p>
        <a class="btn btn-info" href="javascript: openRegisterForm();"><span class="btn-label">Sign up now</span></a> 
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3>Make a Difference</h3>
        <p>Pay for <span class="text-success">life saving heart surgery</span> for kids who otherwise won't get it. Know you've done <span class="text-success">something amazing</span> and good! </p>
        <a class="btn btn-info" href="javascript: openRegisterForm();"><span class="btn-label">Sign up now</span></a> 
      </div>
    </div>
  </div>
</div>